* {
    margin: 0;
    padding: 0;

}
body {
    background: rgba(102, 102, 102, 0.1) !important; ;
}
header {
    background: rgba(25, 25, 28, 0.1);
    border-bottom: 2px solid rgba(26, 32, 255, 0.2);
    height: 100px;
    padding: 5px;
}
.name_info .header {
    width: 200px;
    height: 40px;
}
.settings_logo .card {
    background: rgba(250, 255, 231, 0.4);
}
.settings_logo .card img {
    cursor: pointer;
}
.settings_logo .card h5{
    font-family: "Segoe UI", sans-serif;
    margin-top: 2px;
    font-size: 14px;
}
.settings_logo .card h3{
    font-family: "Segoe UI", sans-serif;
    margin-top: 2px;
    font-size: 22px;
    color: rgba(26, 26, 26, 0.88);;
}
form.h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
}
form h4 {
    padding: 25px 0 0 70px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
form.h4 h4 {
    text-align: center;
}
form input {
    padding: 0 10px;
    height: 30px;
    border: 1px solid rgba(152, 154, 143, 0.5);
    outline: none;
    margin: 3px;
    width: 248px;
    font-size: 12px;
    background-color: rgba(152, 154, 143, 0.2);
}
body .border {
    border: 2px solid black;
}
.background-page {
    margin-bottom: 15px;
}
.posts h1{
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
}
.button {
    background-color: rgba(152, 154, 143, 0.5);
    width: 150px;
    height: 45px;
    margin: 40px;
    border-radius: 6px;
}
.button:hover {
    background-color: rgba(152, 154, 143, 0.8)
}
.button .sign {
    padding: 10px 45%;
}
.modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000; }
.modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999; }
.modal .modal_content .close_modal_window {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; }
.imagesrc {
    width: 900px;
    height: 30px;
    border: 1px solid rgba(26, 32, 255, 0.2);
    padding: 0px 20px;
    outline: none;
}
.imagebtn {
    background-color: rgba(152, 154, 143, 0.4);
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
    margin: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
}
.imagebtn:hover {
    background-color: rgba(152, 154, 143, 0.9);
    transition: 0.5s ease;
}
